{% extends 'app/base.html'%}
{% load static %}
{% block title %}About{% endblock title %}
{%block main-content%}
<div class="container mt-3">
    <br>
    <h2 class="text-center">About Us</h2>
    <br>
    <div class='row container'>
        <p class="fs-4 text-container">AppVin Technologies was founded in 2020 by a unique, diverse, and creative team brought together with the aim of crafting cutting-edge solutions for both mobile and web applications. In only a year since AppVin was founded, we celebrated over 50 projects. And today, in 2023, our footprint spans 5 countries with 150+ talented individuals! Our passion for Technology and commitment to excellence in website development, Mobile app development, cross platform, enterprise app development, low code/no code App Development and Technical Consulting is like no other! 

            Here at AppVin we are committed to ensuring the Highest Quality and Professionalism with the focus of taking your business to the next level. We will take your business to new heights like never before with our out-of-the box development!
            
        </p>
    </div>
    <br><br>
    <h2 class="text-center">Mission</h2>
    <br>
    <div class="row container">
        <p class="fs-4 text-center">To embrace the right technology</p>
    </div>
</div>
<br><br>
{%endblock main-content%}